<header directive="header" class="menu-changed" style="position: fixed;">
  <div class="inner">
    <div class="logo"><a href="/kz/"></a></div>
    <div class="menu-collapsed active" icon="blue">
      <div class="wrapper">
        <div class="icon"></div>
        <div class="container">
          <div class="close"><img src="/static/assets/img/menu/close.png?ef545f1cb30dd70146587c9abaa1c2f9"></div>
          <div class="list">
            <ul>
              <li class="drop">
                <div class="title"><span>Өнімдер</span></div>
                <div class="items">
                  <ul>
                    <li><a href="/kz/products/powder_without_chlorinol.html">Хлорсыз Comet тазалағыш ұнтағы</a></li>
                    <li><a href="/kz/products/powder_comet.html">Comet әмбебап ұнтағы</a></li>
                    <li><a href="/kz/products/universal_gel_comet.html">Comet әмбебап гелі</a></li>
                    <li><a href="/kz/products/toilet_gel_comet.html">Comet әжетханаға арналған гелі</a></li>
                    <li><a href="/kz/products/scour_comet.html">Comet әжетханаға арналған<br>тазалағыш құралы</a></li>
                    <li><a href="/kz/products/bathroom_gel_comet.html">Comet ваннаға арналған гелі</a></li>
                    <li><a href="/kz/products/toilet_block.html">Comet әжетханалық блок</a></li>
                  </ul>
                </div>
              </li>
              <li class="drop">
                <div class="title"><span>Сарапшылардың кеңесі</span></div>
                <div class="items">
                  <ul>
                    <li><a href="/kz/expert_advice/kitchen.html">Тағамдар</a></li>
                    <li><a href="/kz/expert_advice/bathroom.html">Жуыну бөлмесі</a></li>
                    <li><a href="/kz/expert_advice/toilet.html">Дәретхана</a></li>
                    <li><a href="/kz/expert_advice">Барлық кеңестер</a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
          <div class="lang">
            <ul>
              <li class="active">kaz</li>
              <li><a href="/rus/">rus</a></li>
              <li><a href="/ua/">ua</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>