<footer>
  <div class="round-top">
    <div class="round"></div>
  </div>
  <div class="bg"></div>
  <div class="description">
    <div class="inner">
      <p class="mail"> Пишите нам на <a href="mailto:cometpromo@progressiongroup.ru">cometservice.ru@ace.info</a></p>
      <h1>+7 (495) 646-93-36</h1>
      <p>Телефон горячей линии</p>
    </div>
  </div>
  <div class="menu active">
    <div class="list">
      <ul>
        <li class="drop">
          <div class="title">Продукты</div>
          <div class="items">
            <ul class="products">
              <li><a href="/rus/products/powder_comet.html">
                <div class="img"><img
                  src="/static/assets/img/menu/universal-lemon.png?6559506018fb03c26ebb84e89784a343"></div>
                <p>Универсальный<br>порошок comet</p></a></li>
              <li><a href="/rus/products/powder_without_chlorinol.html">
                <div class="img"><img
                  src="/static/assets/img/menu/without_chlorinol_morning_breathe.png?68ff462b27aacc56017b7a5c88fd5c26">
                </div>
                <p>Чистящий<br> порошок Comet<br> без хлора</p></a></li>
              <li><a href="/rus/products/universal_gel_comet.html">
                <div class="img"><img
                  src="/static/assets/img/menu/universal-gel-lemon.png?6d29157a3f79b70762531ee43933214d"></div>
                <p>Универсальный<br>гель comet</p></a></li>
              <li><a href="/rus/products/toilet_gel_comet.html">
                <div class="img"><img
                  src="/static/assets/img/menu/toilet_expert_breeze.png?e28078dfe152596419a4f16948d8b60f"></div>
                <p>Гель для туалета<br>Comet</p></a></li>
              <li><a href="/rus/products/scour_comet.html">
                <div class="img"><img src="/static/assets/img/menu/scour.png?bc6252397b9ada8fa62158b702af39f0">
                </div>
                <p>Чистящее средство<br>для туалета Comet</p></a></li>
              <li><a href="/rus/products/bathroom_spray_comet.html">
                <div class="img"><img
                  src="/static/assets/img/menu/comet-bath-spray-500ml.png?fd0aec27cf9b545b45b55e199fd7a2ac"></div>
                <p>Спрей для ванной<br>Comet</p></a></li>
              <li><a href="/rus/products/bathroom_gel_comet.html">
                <div class="img"><img
                  src="/static/assets/img/menu/bomet-bath-gel-500ml.png?44ebdfd1ed9ec0e1c1bbe00e97334f27"></div>
                <p>Гель для ванной<br>Comet</p></a></li>
              <li><a href="/rus/products/toilet_block.html">
                <div class="img"><img src="/static/assets/img/menu/toilet_block.png"></div>
                <p>Туалетный блок<br> Comet</p></a></li>
            </ul>
          </div>
        </li>
        <li class="drop">
          <div class="title"><a href="/rus/expert_advice/index.html">Советы экспертов</a></div>
          <div class="items">
            <ul>
              <li><a href="/rus/expert_advice/kitchen.html">Кухня</a></li>
              <li><a href="/rus/expert_advice/bathroom.html">Ванная комната</a></li>
              <li><a href="/rus/expert_advice/toilet.html">Туалет</a></li>
              <li><a href="/rus/expert_advice">Все советы</a></li>
            </ul>
          </div>
        </li>
        <li class="">
          <div class="title"><a href="/rus/expert_advice/index.html">Где купить</a></div>
        </li>
        <li class="">
          <div class="title"><a href="/rus/expert_advice/index.html">Советы о бренде</a></div>
        </li>
      </ul>
    </div>
    <!-- <div class="lang">
      <ul>
        <li>rus</li>
        <li><a href="/ua/">ua</a></li>
        <li><a href="/kz/">kaz</a></li>
      </ul>
    </div> -->
  </div>
  <div class="links">
    <div class="inner">
      <p>© 2020 — Fater S.p.A. Политика конфиденциальности</p>
      <p><a href="/static/assets/img/passportComet.zip">Cкачать паспорта продуктов Рус/Укр</a></p>
    </div>
  </div>
</footer>